<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      App Teste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-img src="/assets/shapes.svg"></ion-img>
      
      

         
<form>
<ion-item>
  <ion-label position="floating">Digite seu usuário</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Digite sua senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="full">Entrar</ion-button>

</form>

     
      
    
    
</ion-content>


